body{
	background-color: #333333;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	text-align: center;
	padding-top: 100px;
	color: white;
}

#header {
	font-size: 100px;
}

form {
	text-align: center;
	color: white;
	padding-top: 80px;
}

p {
	font-size: 10px;
	color: white;
	text-align: center;
}


#footer {
	padding-top: 40px;
	display: inline-block;
	position: absolute;
	width: 100%;
	margin: 0 auto;
}


#returnposition {
	top: 40%;
	position: absolute;
	width: 100%;
	margin: 0 auto;
}

h2 {
	color: white;
	font-size: 100px;
	text-align: center;
}

@media only screen and (max-width : 500px){
	
}