// Config variables

$helvetica: "Helvetica Neue",  Helvetica, Arial, sans-serif;
$montserrat: "Montserrat", sans-serif;
$gold: #e9b64a;
$greytext: #aeadae;

// Header
$bar-height: 40px;




// Mixins
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}